<a href="https://colab.research.google.com/github/HungPham2002/Data-handling-Crawling-data/blob/main/Project_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Table Handling

In [ ]:
import pandas as pd

In [ ]:
advertising_dataset_path = 'https://raw.githubusercontent.com/justmarkham/scikit-learn-videos/master/data/Advertising.csv'
advertising_df = pd.read_csv(advertising_dataset_path, index_col = 0)
print(advertising_df)

        TV  Radio  Newspaper  Sales
1    230.1   37.8       69.2   22.1
2     44.5   39.3       45.1   10.4
3     17.2   45.9       69.3    9.3
4    151.5   41.3       58.5   18.5
5    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
196   38.2    3.7       13.8    7.6
197   94.2    4.9        8.1    9.7
198  177.0    9.3        6.4   12.8
199  283.6   42.0       66.2   25.5
200  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [ ]:
advertising_lst = advertising_df.values.tolist()

## Find sum of columns

In [ ]:
tv_sum = sum (lst[0] for lst in advertising_lst)
radio_sum = sum ([lst[1] for lst in advertising_lst])
news_sum = sum ([lst[2] for lst in advertising_lst])
sales_sum = sum ([lst[3] for lst in advertising_lst])
print ('TV sum: ',tv_sum)
print ('Radio sum: ',radio_sum)
print ('Newspaper sum: ', news_sum)
print ('Sales sum: ',sales_sum)

TV sum:  29408.499999999996
Radio sum:  4652.800000000005
Newspaper sum:  6110.799999999999
Sales sum:  2804.5000000000005

## Find sum of columns from row 2nd to row 11th

In [ ]:
nd_th_lst = advertising_lst[1:11]
tv_sum = sum (lst[0] for lst in nd_th_lst)
radio_sum = sum ([lst[1] for lst in nd_th_lst])
news_sum = sum ([lst[2] for lst in nd_th_lst])
sales_sum = sum ([lst[3] for lst in nd_th_lst])
print ('TV sum: ',tv_sum)
print ('Radio sum: ',radio_sum)
print ('Newspaper sum: ', news_sum)
print ('Sales sum: ',sales_sum)

TV sum:  854.9
Radio sum:  249.1
Newspaper sum:  387.8
Sales sum:  107.3

## Find Min & Max

In [ ]:
tv_lst = [lst[0] for lst in advertising_lst]
radio_lst = [lst[1] for lst in advertising_lst]
news_lst = [lst[2] for lst in advertising_lst]
sales_lst = [lst[3] for lst in advertising_lst]

tv_min , tv_max = min(tv_lst) , max(tv_lst)
radio_min , radio_max = min(radio_lst) , max(radio_lst)
news_min , news_max = min(news_lst) , max(news_lst)
sales_min , sales_max = min(sales_lst) , max(sales_lst)

print (f'TV min: {tv_min}, TV max: {tv_max}')
print (f'Radio min: {radio_min}, Radio max: {radio_max}')
print (f'News min: {news_min}, News max: {news_max}')
print (f'Sales min: {sales_min}, Sales max: {sales_max}')

TV min: 0.7, TV max: 296.4
Radio min: 0.0, Radio max: 49.6
News min: 0.3, News max: 114.0
Sales min: 1.6, Sales max: 27.0

## Find Average

In [ ]:
tv_lst = [lst[0] for lst in advertising_lst]
radio_lst = [lst[1] for lst in advertising_lst]
news_lst = [lst[2] for lst in advertising_lst]
sales_lst = [lst[3] for lst in advertising_lst]

avg_tv = sum(tv_lst) / len(tv_lst)
avg_radio = sum(radio_lst) / len(radio_lst)
avg_news = sum(news_lst) / len(news_lst)
avg_sales = sum(sales_lst) / len(sales_lst)

print ('TV avg: ',avg_tv)
print ('Radio avg: ',avg_radio)
print ('Newspaper avg: ', avg_news)
print ('Sales avg: ',avg_sales)

TV avg:  147.0425
Radio avg:  23.264000000000024
Newspaper avg:  30.553999999999995
Sales avg:  14.022500000000003

## Find median

In [ ]:
def median(lst):
  sorted_lst = sorted(lst)
  n =len (lst)
  mid = n//2
  if n % 2 == 0:
    y = (sorted_lst[mid] + sorted_lst[mid - 1]) / 2
  else:
    y = sorted_lst[mid]
  return y

In [ ]:
med_tv = median(tv_lst)
med_radio = median(radio_lst)
med_news = median(news_lst)
med_sales = median(sales_lst)

print ('TV med: ',med_tv)
print ('Radio med: ',med_radio)
print ('Newspaper med: ', med_news)
print ('Sales med: ',med_sales)

TV med:  149.75
Radio med:  22.9
Newspaper med:  25.75
Sales med:  12.9

## Find Contribution percentage

In [ ]:
tv_lst=[lst[0] for lst in advertising_lst]
radio_lst = [lst[1] for lst in advertising_lst]
newspaper_lst = [lst[2] for lst in advertising_lst]

total_budget = sum(tv_lst) + sum (radio_lst) + sum (newspaper_lst)

tv_percentage = (sum(tv_lst) / total_budget) * 100
radio_percentage = (sum(radio_lst) / total_budget) * 100
newspaper_percentage = (sum(newspaper_lst) / total_budget) * 100

print (f'TV Percentage: {tv_percentage:.3f}%')
print (f'Radio Percentage: {radio_percentage:.3f}%')
print (f'Newspaper Percentage: {newspaper_percentage:.3f}%')

TV Percentage: 73.206%
Radio Percentage: 11.582%
Newspaper Percentage: 15.212%

# Text Presentation

## Text normalization: lowercasing

In [ ]:
import string

In [ ]:
remove_characters = '\t""' + string.punctuation

In [ ]:
def text_normalize (text):
  text = text.lower()
  text = text.strip() # remove blank and space
  text = text.replace('\n', ' ')
  for char in remove_characters:
    text = text.replace(char, '')
  
  return text

In [ ]:
text = 'iT i=_(s Ok@@#^AY HOo`$MaN, w+-E cAN Try aG#aIN toMo*@#row'
print(text_normalize(text))

it is okay hooman we can try again tomorow

## Create Dictionary

In [ ]:
def create_dictionary(corpus):
  dictionary = []
  for paragraph in corpus:
    paragraph = text_normalize(paragraph)
    tokens = paragraph.split()
    for token in tokens:
      if token not in dictionary:
        dictionary.append(token)
  
  return dictionary

In [ ]:
corpus = ['Hello everybody', 'My name is Duy Hung' , 'My name means Duy in Duy Hung', 'Hung in Duy Hung' ]
dictionary = create_dictionary(corpus)
print(dictionary)

['hello', 'everybody', 'my', 'name', 'is', 'duy', 'hung', 'means', 'in']

## Create new text presentation

In [ ]:
def vectorizer (text, dictionary, unknown_token_id):
  text = text_normalize(text)
  tokens = text.split()
  vector = [
      dictionary.index(token) \
      if token in dictionary else unknown_token_id \
        for token in tokens 
  ]
  return vector

In [ ]:
corpus = ['Hello everybody', 'My name is Duy Hung' , 'My name means Duy in Duy Hung', 'Hung in Duy Hung' ]
dictionary = create_dictionary(corpus)
print(dictionary)
text = 'Hung Duy us together'
unknown_token_id = len(dictionary)
vectorized_text = vectorizer(text, dictionary, unknown_token_id)
print (vectorized_text)

['hello', 'everybody', 'my', 'name', 'is', 'duy', 'hung', 'means', 'in']
[6, 5, 9, 9]

# Data Crawling

In [ ]:
# Local